/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

@font-face {
    font-family: LeagueSpartan;
    src: url("../resources/LeagueSpartan-Bold.otf") format("opentype");
    font-weight: normal;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: #faebd9;
    /*background: #1d2c44 url("../images/Backgroud.png") 30px 70px no-repeat;*/
    background: #1d2c44;
    font-family: LeagueSpartan,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
    color: #ec1b2e;
    text-transform: uppercase;
}

.page-header {
    border-bottom: none;
}

.navbar {
    background-color: #ec1b2e;
    color: #f6e7d3;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav li a {
    color: #f6e7d3;
}

.navbar-default .navbar-nav > .active > a {
    color: #faebd9;
    background-color: #1d2c44;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 110px;
    background-color: #ec1b2e;
    color: #f6e7d3;
}

.footer .container {
    /*background: url("../images/bhf_logo2.png") right top no-repeat transparent;*/
    height: 100%;
}

.footer .text-muted, .footer .text-muted a {
    color: #f6e7d3;
}

.footer .text-muted2 {
    color: #feffff;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}